@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
	background-color: #000;
	margin-top: 150px;
	margin-left: 150px;
	padding:5px;
	text-align: center;
}

.outer{
	text-align: center;
}

.page{
	max-width: 1200px;
	width:100%;
	display:inline-block;
}

/*HERO IMAGE*/

.hero_content{
	padding-right: 10px;
	font-size: 100px;
	text-align: left;
}

.hero_text_header{
	position: absolute;
	margin-top: -250px;
	font-weight: bold;
	font-size: 10vw;
	justify-content: left;
}

.hero_content img{
	width: 100%;
}


/*SIDE BAR*/

.sidebar{
	height: 100%;
	width:200px;
	overflow: auto;
	margin-bottom: 80px;
	flex: end;
	flex-direction: column;
	text-align: center;
	}

.sidebar .section{
	margin-top: 210px;
	font-weight: 800;
	display: block
}

.sidebar img{
	float: right;
	width: 200px;
}

.sidebar:hover{
	animation-fill-mode: forwards;
	animation-name:changescale;
	animation-duration:.75s;
	animation-timing-function: ease-out;
}

@keyframes changescale{
	from {transform: scale(1,1)} to {transform:scale(1.5,1.5)}
}

