@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
	background-color: #000;
	margin:0;
	padding:5px;
	text-align: center;
}

.outer{
	text-align: center;
}

.page{
	max-width: 1200px;
	width:100%;
	display:inline-block;
}


.topnav{
	display:flex;
	flex-direction:row;
	align-items: center;
	flex-wrap:nowrap;
	justify-content: flex-start;
	height: 100px;
	}

.topnav img{
	float:left;
	padding: 10px;
	width:100px;
}

.brand{
	font-size: 14px;
	float: left;
}

.nav{
	flex-grow: 1;
	margin-left: auto;
	text-align: right;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 600;
}

a:hover{
	color:#215E9C;
}

/*HERO IMAGE*/

.hero_content{
	padding-right: 10px;
	font-size: 9vw;
	text-align: left;
	font-weight: bold;
	justify-content: left;
}

.hero_text_header{
	width: auto;
	position: absolute;
	margin-top: -220px;
	font-weight: bold;
	font-size: 9vw;
	justify-content: left;
}


.hero_content img{
	width: 100%;
}


/*SIDE BAR*/

.sidebar{
	height: 100%;
	width:200px;
	overflow: auto;
	margin-bottom: 20px;
	float: right;
	text-align: center;
	}

.sidebar .section{
	margin-top: 210px;
	font-weight: 800;
	display: block
}

.sidebar img{
	float: right;
	width: 200px;
}

/*ABOUT PAGE*/

.hero_about_header{
	width: auto;
	position:absolute;
	margin-left: 40px;
	margin-top: -620px;
	justify-content: center;
}

.about_body{
	font-size: 20px;
	text-align:left;
	margin-bottom: 20px;
}

/*CONTACT PAGE*/

.contact_header{
	font-size: 22px;
	font-weight: 900;
	text-align: right;
	border-color: #215E9C;
	border-bottom-style: solid;
}

.contact_body{
	font-size: 18px;
	text-align: right;
	margin-top: 10px;
}

