<!doctype html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/grid.css">
    
<title>WMGComponents</title>
</head>

<body>
	<div style="max-width:1200px;width:100%">
		
			
	<div class="hero_content">
		<img src="img/marina.jpg" width="1200px" alt="Marina Diamandis">
		<p class="hero_text_header">MARINA</p>
	
	
	</div>
		
		<div class="sidebar">
			<img src="img/ancientdreams.jpg" alt="ancient dreams in a modern land cover">
			<span class="section">Ancient Dreams in a <br>Modern Land</span>
			2021
		</div>
		
		<div class="sidebar">
			<img src="img/loveandfear.png" width="200px" alt="love and fear cover">
			<span class="section">Love & Fear</span>
			2019
		</div>
		
		<div class="sidebar">
			<img src="img/froot.png" width="200px" alt="froot album cover">
			<span class="section">Froot</span>
			2015
		</div>
		
		<div class="sidebar">
			<img src="img/electraheart.jpg" width="200px" alt="electra heart album cover">
			<span class="section">Electra Heart</span>
			2012
		</div>
		
		<div class="sidebar">
			<img src="img/familyjewels.jpg" width="200px" alt="family jewels album cover">
			<span class="section">The Family Jewels</span>
			2010
		</div>
		
		
			</div>
	
</body>
</html>
