/* CSS Document */


body{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
	background-color: #000;
	margin:0;
	padding:5px;
	text-align: center;
}

.outer{
	text-align: center;
}

.page{
	margin-top: 10px;
	max-width: 1200px;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.topofpage{
	/* background-color: blue; */
	display:flex;
	flex-direction:row;
	align-items: center;
	flex-wrap:nowrap;
	justify-content: flex-start;
	height: 100px;
	
}

.logo{
	max-width: 150px
}
.logo_img{
	margin-top: 10px;
	width: 50%;
}

.brand{
	font-size: 14px;
	margin-left: -30px;
	text-align: right;
}



.nav{
	flex-grow: 1;
	margin-left: auto;
	text-align: right;

}

a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 600;
	margin-right: 20px;
}

a:hover{
	color:#215E9C;
}

.navhere{
	color:#333333;
}

.search{
	align-content: flex-end;
	margin-left: auto;
	max-width: 100px;
}

.search_img{
	width:50%
}

.content{
	align-content: center;
	justify-content: center;
	width:100%;
}

.header{
	font-size: 36px;
	color: #FFF;
	text-align: center;
}


